package cloud.palmbiz.infrastructure.mapper;

import cloud.palmbiz.infrastructure.model.${className};
import com.baomidou.mybatisplus.core.mapper.BaseMapper;

/**
 * ${moduleName} Mapper 接口
 */
public interface ${className}Mapper extends BaseMapper<${className}> {

}