package cloud.palmbiz.common.service;

import com.baomidou.mybatisplus.extension.service.IService;
import cloud.palmbiz.framework.pagination.PaginationRequest;
import cloud.palmbiz.framework.pagination.PaginationResponse;
import cloud.palmbiz.infrastructure.model.${className};
import cloud.palmbiz.framework.exception.BusinessCheckException;

/**
 * ${moduleName}业务接口
 */
public interface ${tableClass}Service extends IService<${className}> {

    /**
     * 分页查询列表
     *
     * @param paginationRequest
     * @return
     */
    PaginationResponse<${className}> query${tableClass}ListByPagination(PaginationRequest paginationRequest);

    /**
     * 添加${moduleName}
     *
     * @param  ${tablePrefix}${tableClass}
     * @throws BusinessCheckException
     * @return
     */
    ${className} add${tableClass}(${className} ${tablePrefix}${tableClass}) throws BusinessCheckException;

    /**
     * 根据ID获取${moduleName}信息
     *
     * @param id ID
     * @throws BusinessCheckException
     * @return
     */
    ${className} query${tableClass}ById(Integer id);

    /**
     * 根据ID删除${moduleName}
     *
     * @param id ID
     * @param operator 操作人
     * @throws BusinessCheckException
     * @return
     */
    void delete${tableClass}(Integer id, String operator) throws BusinessCheckException;

    /**
     * 更新${moduleName}
     * @param  ${tablePrefix}${tableClass}
     * @throws BusinessCheckException
     * @return
     */
    ${className} update${tableClass}(${className} ${tablePrefix}${tableClass}) throws BusinessCheckException;

}
