<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.repository.cloud.plambiz.MtGoodsSkuMapper">
    <select id="getBySkuNo" resultType="model.repository.cloud.plambiz.MtGoodsSku">
        select * from mt_goods_sku o where o.SKU_NO = #{skuNo} and o.STATUS = 'A'
    </select>
</mapper>
